main section form div ul li {
    width: 430px;
    color: white;
    margin: 15px;
    padding: 20px 30px;
    border-radius: 15px;
}

.add-city-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-lista-errores {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-city-box {
    width: 216.083px;
    margin: 8px 0px 8px 0px;
}

.lista-errores {
    text-align: center;
    font-size: 85%;
}

#lista-1 {
    background-color: var(--color-sucess);
}

#lista-2 {
    background-color: var(--color-error)
}

#lista-3 {
    background-color: var(--color-warning)
}