main section div p {
    font-weight: bold;
}

.section-weather-result {
    display: flex;
}

#elegir_ciudad {
    padding: 8px 25px 8px 8px;
}

.card {
    font-size: 80%;
    margin: 40px;
    padding: 0px 15px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 10px 2px #505050;
}