main section form {
    display: flex;
    flex-direction: row;
}

main section div p {
    font-weight: bold;
}

.section-weather-result {
    display: flex;
}

.card {
    margin: 40px;
    padding: 5px 15px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 10px 2px #505050;
}